$primary: #0090ff !default;
$secondary: #002a4f !default;
$white: #fafafa !default;
$grey: #e0e0e0 !default;
@mixin flex-align($j,$a){justify-content: $j;align-items: $a;}
@mixin btn($c1, $c2){
     display: flex;
     @include flex-align(center,center);
     padding: 0.5em;
     margin-left: 5px;
     border-radius: 10px;
     border: 2px solid $c1;
     color: $c1;
     background: none;
     outline: none;
     transition: .3s;
     cursor: pointer;
     &:hover{background: $c1;color: $c2;}
}