@import "./defaults.scss";
.product-card{
     margin:10px;padding:15px;
     box-shadow:0 0 10px 0 $secondary;
     .product-img img{border-radius:10px;}
     .product-info{
          display:flex;@include flex-align(center,center);flex-direction:column;
          h3{font-size:22px;font-weight:350;margin:5px 0;width:250px;text-align:center;}
          p{font-size:32px;margin-bottom:10px;}
          .category{font-size:16.5px;color:$darkgrey;margin-top:2px;font-style:italic;margin-bottom:0;}
          .details{
               width:100%;display:flex;@include flex-align(space-between,center);
               .txt-center{width:100%;p{text-align:center}}
          }
          .addBtn, .details button{@include btn($secondary,$white);font-size:16.5px;margin:0;span{padding:0 0.25em;}}
          .inputNum{
               display:flex;@include flex-align(center,center);
               margin-right:10px;.numBtn{padding:2px;margin:0 2px;border:none;span{padding:0;}}
          }
          input[type=number]{
               padding:5px;text-align:center;
               font-size:21px;width:50px;border:2px solid $secondary;
               color:$secondary;border-radius:10px;
               &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{appearance:none;-webkit-appearance:none;margin:0;}
          }
          button{@include btn($secondary,$white);font-size:16.5px;margin-top:10px;span{padding:0 0.25em;}}
          .total{color:$tertiary;font-size:20px;}
     }
}
@media (prefers-reduced-motion:reduce){.product-card .product-info .details button{transition:none;}}