@import "../../scss/defaults.scss";
.product-card{
     margin: 10px;
     box-shadow: 0 0 10px 0 $secondary;
     padding: 15px;
     .product-img img{border-radius: 10px;}
     .product-info{
          display: flex;
          @include flex-align(center,center);
          flex-direction: column;
          h3{font-size: 21px;font-weight: 350;margin: 10px 0;width: 250px;text-align: center;}
          .details{
               width: 100%;
               display: flex;
               @include flex-align(space-between,center);
               p{font-size: 21px;}
               button{
                    @include btn($secondary,$white);
                    font-size: 16.5px;
                    span{padding: 0 0.25em;}
               }
          }
     }
}
@media (prefers-reduced-motion: reduce){
     .product-card .product-info .details button{transition: none;}
}