<div class="product-card">
     <div class="product-img">
          <img [src]="prodImg" alt="product" width="250" height="250">
     </div>
     <div class="product-info">
          <h3>{{prodTitle}}</h3>
          <p class="category">{{category | titlecase}}</p>
          <p>{{price | currency}}</p>
          <div class="details" *ngIf="!noBtn">
               <input type="number" class="qty" name="number" [ngModel]="qty" [min]="0">
               <button><span class="material-symbols-outlined">add_shopping_cart</span>Add to Cart</button>
          </div>
          <input type="number" class="qty" *ngIf="noBtn" name="number" [ngModel]="qty" [min]="0">
     </div>
</div>