*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, Helvetica;
     text-decoration: none;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}